/* Variables */
:root {
    --brown-color: #585140;
    --orange-color: #C67B1E;
    --blue-color: #8D97B0;
}

/* Base styles */

html {
    font-family: "Baskerville Old Face", "Times New Roman", serif;
}

div.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 300px;
}

/* Color styles */
.brown-background {
    background-color: var(--brown-color);
}

.white-text {
    color: white;
}

.orange-text {
    color: var(--orange-color);
}

.orange-background {
    background-color: var(--orange-color);
}

.blue-background {
    background-color: var(--blue-color);
}

.beige-text {
    color: #F9E5CB;
}

.beige-background {
    background-color: #DBC99E;
}

/*Flexbox Styles */
.flexbox {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.center-aligned-items {
    align-items: center;
}


/* Hero styles */

.dark-overlay {
    display: none;
    position: absolute;
    top: 25px;
    left:0;
    height: 500px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index: 10;
}

#page-top-border {
    width: 100%;
    height: 25px;
}

#hero-image {
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    background-image: url("img/hero_hobbiton.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#hero-text {
    flex-shrink: 1;
    z-index: 100;
}

#offer-wrapper {
    width: 250px;
    height: 400px;
    padding: 20px;
    justify-content: space-between;
    flex-shrink: 5;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px black;
    z-index: 100;
}

.offer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 25px;
}

.offer-form input {
    display: block;
    height: 2em;
    border-radius: 5px;
    padding: 0.3em 0.3em 0.3em 10px;
    border: thin lightgray solid;
}

#offer-form-submit-button {
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.offer-text {
    font-weight: bold;
    font-size: 1.5em;
}

/* Description styles */
#description {
    padding: 0;
}

#description-bg-img {
    background-image: url("img/hobbleton1.png");
}

#description-side-column {
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

#description-side-column img {
    width: 90%;
}

#description-main-column {
    margin-left: 30%;
    padding: 20px 100px;
    flex-shrink: 1.5;
    font-size: 1.5em;
}

#description-main-column h2 {
    margin-top: 0;
    align-self: center;
}

.slogan-text {
    font-size: 4em;
}

/* Features description */

#description-image {
    background-image: url("img/hobbleton1.jpg");
    width: 100%;
    height: 100%;
}

.features-card {
    padding: 10px;
}

.features-card .img {
    width: 90%;
    aspect-ratio: 3 / 2;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card-image-1 {
    background-image: url("img/hobbiton1.png");
}

#card-image-2 {
    background-image: url("img/hobbiton2.png");
}

#card-image-3 {
    background-image: url("img/hobbiton3.png");
}

#features-wrapper {
    gap: 90px;
    padding: 0 100px;
}

#features h2 {
    font-size: 2em;
}


#horizontal-line {
    border-top: 2px gray solid;
    width: 35%;
}

#features-wrapper {
    margin-top: 30px;
}

/* Testimonial styles */
#testimonial {
    background-image: url("img/shire.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#testimonial .testimonial:not(:first-child) {
    margin-top: 100px;
}

.testimonial {
    align-items: center;
    margin: 50px 0;
    padding: 0 50px;
}

.testimonial img {
    width: 25%;
}

.testimonial p {
    padding: 0 50px;
    font-size: 3em;
}

.testimonial-aligned-right {
    text-align: right;
}

/* Final offer styles */
#final-offer {
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
#book-now-button {
    border-radius: 5px;
    height: 100px;
    width: 300px;
    font-size: 2.5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#last-chance-message {
    justify-content: space-between;
    align-items: center;
}

#last-chance-message p {
    font-size: 2.5em;
}

#last-chance-message .big {
    font-size: 8em;
}

#last-chance-message .green {
    color: #7C9B2F;
}

#save-15 {
    margin: 10px;
}
footer {
    align-items: center;
    height: 25px;
    padding: 15px 30px;
    color: white;
    background-color: var(--brown-color);
}
